<div>
    <div>
        <div class="navbar">
            <a class="buttons" routerLink = "/home">Home</a>
            <a class="buttons" routerLink = "/about">About</a>
            <a class="buttons" routerLink = "/jobs">Jobs</a>
        </div>
    </div>
    <div class="flexContainer">
        <div class="container">
            <div>
                <h1 class="title">About</h1>
                <div class="about">
                    <p>
                        Brandon Eicher is a man who currently lives in Fort Wayne, Indiana, with his wife and child. Brandon currently does excavating for his family's company, but has plans of getting into the tech space. He is learning a lot about different coding languages and learning how to balance his time in between his current job, and the time spent on Bethel Techs curriculum, plus spending time with his family.
                    </p>
                </div>
            </div>    
            <div>
                <h2>Technological Expertise</h2>
                <div>
                    <ul>
                        <li>Html</li>
                        <li>Css</li>
                        <li>JavaScript</li>
                        <li>Angular</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>