.navbar {
    float: middle;
    display: block;
    text-align: center;
    padding: 15px 15px;
    background-color: darkgray;

}
.buttons {
    padding: 15px;
    margin: 10px;
    color: white;
    text-decoration: none;
}

.flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    width: 500px;
}

.single {
    color: black;
}

.buttons:hover {
    background-color: rgb(70, 70, 70);
}