<div>
    <div>
        <div class="navbar">
            <button class="buttons" routerLink = "/home">Home</button>
            <button class="buttons" routerLink = "/about">About</button>
            <button class="buttons" routerLink = "/jobs">Jobs</button>
        </div>
    </div>
    <div class="flexContainer">
        <div class="container">
            <div class="title">
                <h1>Work History</h1>
            </div>
            <div *ngIf="jobs.length">
                <div>
                    <div class="history" *ngFor="let job of jobs">
                        <a [routerLink]="['/jobs', job.id]">{{ job.title }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  