<div>
    <div class="navbar">
        <button class="buttons" routerLink = "/home">Home</button>
        <button class="buttons" routerLink = "/about">About</button>
        <button class="buttons" routerLink = "/jobs">Jobs</button>
    </div>
    <div class="name">
        <h1>Brandon Eicher</h1>
    </div>
    <div class="flexContainer">
        <img class="img" src="/assets/Image.jpeg" alt="image">
    </div>
    <div class="nextFlexContainer">
        <h2 class="inspirationalSaying">The grind never stops, only YOU do.</h2>
    </div>
</div>