<div>
    <div class="navbar">
        <a class="buttons" routerLink = "/home">Home</a>
        <a class="buttons" routerLink = "/about">About</a>
        <a class="buttons" routerLink = "/jobs">Jobs</a>
    </div>
    <div class="name">
        <h1>Brandon Eicher</h1>
    </div>
    <div class="flexContainer">
        <img class="img" src="/assets/Image.JPG" alt="image">
    </div>
    <div class="nextFlexContainer">
        <h2 class="inspirationalSaying">The grind never stops, only YOU do.</h2>
    </div>
</div>